<%= form_for(@pages_terms_condition) do |f| %>
  <% if @pages_terms_condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pages_terms_condition.errors.count, "error") %> prohibited this pages_terms_condition from being saved:</h2>

      <ul>
      <% @pages_terms_condition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
