form{padding:0}fieldset{border:4px solid #ccc;background-color:#FFF;margin:18px 0;padding:0 15px}legend{font-weight:700;background:#fff;border:1px solid #ccc;border-bottom-color:#999;font-size:16px;padding:3px 10px}label{text-align:right;font-weight:700;display:list-item;list-style:none}input[type=text],input[type=text]:focus,input[type=password],input[type=password]:focus,textarea{background:#fff url() repeat-x 0 top;color:#000;font-size:24px;line-height:36px;border-top:1px solid #8f8f8f;border-right:1px solid #cecece;border-left:1px solid #cecece;border-bottom:1px solid #ddd;width:65%;margin:0}select,select:focus{font-size:18px;border-top:1px solid #8f8f8f;border-right:1px solid #cecece;border-left:1px solid #cecece;border-bottom:1px solid #ddd;margin:0 10px 0 0;padding:3px}form dl{margin:18px 0}form dl dt{float:left;width:30%;font-size:18px;text-align:right;font-weight:700;margin-right:15px;padding:5px 0 0}form dl dd{display:block;margin-bottom:24px}form dl dd label{text-align:left;font-weight:400;margin-bottom:5px}form dl dd.help{font-style:italic;text-align:center;margin:0 0 18px}form dl dd.wrap{float:left}form dl dd p.small{font-size:11px;margin-top:5px}hr.invisible{color:#fff;background-color:#fff}.required{color:#b31602;font-weight:700}
input[type=submit] { padding:0 10px; cursor:pointer; border:none; background:#b31602; color:#fff; -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3); -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3); -webkit-border-radius:3px; -moz-border-radius:3px; margin:0 5px; font:bold 18px/2 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; }

.formError{ left:12px; display:inline; position: relative; color: #b31602; }

/*form{padding:0}fieldset{border:4px solid #ccc;background-color:#FFF;margin:18px 0;padding:0 15px}legend{font-weight:700;background:#fff;border:1px solid #ccc;border-bottom-color:#999;font-size:16px;padding:3px 10px}label{ text-align:right;font-weight:700;display:list-item;list-style:none}input[type=text],input[type=text]:focus,input[type=password],input[type=password]:focus,textarea{background:#fff url() repeat-x 0 top;color:#000;font-size:24px;line-height:36px;border-top:1px solid #8f8f8f;border-right:1px solid #cecece;border-left:1px solid #cecece;border-bottom:1px solid #ddd;width:65%;margin:0}form dl{margin:18px 0}form dl dt{float:left;width:30%;font-size:18px;text-align:right;font-weight:700;margin-right:15px;padding:5px 0 0}form dl dd{display:block;margin-bottom:24px}form dl dd label{text-align:left;font-weight:400;margin-bottom:5px}form dl dd.help{font-style:italic;text-align:center;margin:0 0 18px}form dl dd.wrap{float:left}form dl dd p.small{font-size:11px;margin-top:5px}hr.invisible{color:#fff;background-color:#fff}.required{color:#e8373f;font-weight:700}
input[type=submit] { text-decoration: none; padding:0 10px; cursor:pointer; border:none; background:#ff7b15; color:#fff; -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3); -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3); -webkit-border-radius:3px; -moz-border-radius:3px; margin:0 5px; font:bold 18px/2 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; }.error{position: relative; color: #ff7b15;}*/
select,select:focus{font-size:18px;border-top:1px solid #8f8f8f;border-right:1px solid #cecece;border-left:1px solid #cecece;border-bottom:1px solid #ddd;margin:0 10px 0 0;padding:3px}*/
input[type=submit].green{
	background-color: #4fc92b;
-webkit-background-clip: padding-box;
-webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 1px 2px;
border-bottom-color: #49A824;
border-bottom-left-radius: 0px 0px;
border-bottom-right-radius: 0px 0px;
border: 1px solid;
border-color: #85E06C #51B927 #49A824;
border-top-color: #85E06C;
border-top-left-radius: 0px 0px;
border-top-right-radius: 0px 0px;
cursor: pointer;
display: inline;
font-size: 16px;
font-weight: bold;
height: 38px;
line-height: 28px;
margin: 0px;
overflow: hidden;
padding: 0px 0px 1px;
padding-left: 10px;
padding-right: 10px;
position: absolute;
/*right: 25px;*/
text-align: center;
text-decoration: none;
text-shadow: rgba(0, 0, 0, 0.296875) 0px -1px 2px;
text-transform: capitalize;
/*width: 110px;*/
z-index: 100;
}

a.fb_signup{
-webkit-background-clip: padding-box;
/*-webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 1px 2px;*/
border-bottom-color: #29447e;
border-bottom-left-radius: 0px 0px;
border-bottom-right-radius: 0px 0px;
border: 1px solid #29447e;
border-top-color: #29447e;
border-top-left-radius: 0px 0px;
border-top-right-radius: 0px 0px;
cursor: pointer;
display: inline;
font-size: 23px;
font-weight: bold;
height: 32px;
line-height: 28px;
margin-top: 8px;
overflow: hidden;
padding: 4px 8px 1px 10px;
position: absolute;
right: 61px;
text-align: right;
text-decoration: none;
text-shadow: rgba(0, 0, 0, 0.296875) 0px -1px 2px;
text-transform: capitalize;
/*width: 360px;*/
z-index: 100;
	background: #6079ab;
	border-left-width: 0;
		color:#fff;
}

a.fb_login,a:focus.fb_login{
-webkit-background-clip: padding-box;
-webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 1px 2px;
border-bottom-color: #29447e;
border-bottom-left-radius: 0px 0px;
border-bottom-right-radius: 0px 0px;
border: 1px solid #29447e;
border-top-color: #29447e;
border-top-left-radius: 0px 0px;
border-top-right-radius: 0px 0px;
cursor: pointer;
display: inline;
font-size: 16px;
font-weight: bold;
height: 32px;
line-height: 28px;
margin: 0px;
overflow: hidden;
padding: 4px 8px 1px 10px;
position: absolute;
/*right: 25px;*/
text-align: center;
text-decoration: none;
text-shadow: rgba(0, 0, 0, 0.296875) 0px -1px 2px;
text-transform: capitalize;
/*width: 360px;*/
z-index: 100;
	background: #6079ab;
	border-left-width: 0;
	color:#fff;
}

a.red,a:focus.red,input[type=submit].red{
	background-color: #b31602;
-webkit-background-clip: padding-box;
-webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 1px 2px;
border-bottom-color: #b31602;
border-bottom-left-radius: 0px 0px;
border-bottom-right-radius: 0px 0px;
border-top-color: #b31602;
border-top-left-radius: 0px 0px;
border-top-right-radius: 0px 0px;
cursor: pointer;
display: inline;
font-size: 16px;
font-weight: bold;
height: 38px;
line-height: 28px;
margin: 0px;
overflow: hidden;

position: relative;
left: -2px;
text-align: center;
text-decoration: none;
text-shadow: rgba(0, 0, 0, 0.296875) 0px -1px 2px;
text-transform: capitalize;
/*width: 110px;*/
z-index: 100;
	color:#fff;
}

a.orange,a:focus.orange {
	padding: 10px;
}

form p {
	margin-left:20px;
}

/* error message */
.error {
	height:15px;
	background-color:#FFFE36;
	font-size:11px;
	border:1px solid #E1E16D;
	padding:4px 10px;
	color:#000;
	display:none;	
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px; 
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-topleft:0;	
	-webkit-border-bottom-left-radius:0; 
	-webkit-border-top-left-radius:0;
	
	-moz-box-shadow:0 0 6px #ddd;
	-webkit-box-shadow:0 0 6px #ddd;	
}

.error p {
	margin:0;		
}