<%= form_for(@pages_dynamic_page) do |f| %>
  <% if @pages_dynamic_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pages_dynamic_page.errors.count, "error") %> prohibited this pages_dynamic_page from being saved:</h2>

      <ul>
      <% @pages_dynamic_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
