<% title "Sign up" %>

<div class="col_6 in">
		<h1>Who is Agent Rock?<br /></h1>
		<p class="large">Agent Rock will help you find other musicians, host your website, sell your music to fans, and learn new tricks on your instrument.</p>

		<hr/>

		<ul class="features">
      <li>Fill a spot in your band. Maybe even land a gig.</li>
			<li>Upload your music. Then distribute it to your fans.</li>
			<li>Easily manage your band's website.</li>
			<li>Improve your knowledge and skills of the music industry and your instrument.</li>
			<li>Collaborate and compete with musicians worldwide. Win cash and other prizes.</li>
			<!-- <li><a href="/how-it-works">How It Works</a> - turn your music into a solid revenue stream</li> -->
		</ul>
	</div> 
<div class="col_6 out" id="account_signup">
	<h1>Signup in ~ 1 minute!</h1>
	<p class="large">Getting started couldn't be easier! Just log in through Facebook and experience a resource that every musician craves.</p>
	
	<%= form_for(@user, :as => :user, :url => { :controller => 'users', :action => 'new' }) do |f| %>  
		<p>Already have an account? <a href="/login">Log in</a>.</p>

	  <label style="display:block;text-align:left;float:none">Email<span style="color: #990000">*</span></label>
	  <input name="user[email]" size="30" type="text" required="required">
	  <label style="display:block;text-align:left;float:none">Password<span style="color: #990000">*</span></label>
	  <input name="user[password]" size="30" type="password"  required="required">
		<label style="display:block;text-align:left;float:none">Confirm Password<span style="color: #990000">*</span></label>
	  <input name="user[password_confirmation]" size="30" type="password"  required="required">

	  <%= f.submit "Signup" %>
	<% end %>	
		
	</div> 
	<div class="clear">&nbsp;</div> 
	
	
	
	
	<!-- <p>A modern day, web 2.0, interactive, dynamic website is a forever evolving entity with lots of internal components that bring their own set of upgrade and maintenance headaches. Are you going to solicit help every time your website needs an update? Agent Rock is your guy! Let him focus on all of your website demands from hosting to customized app building, to internet marketing and beyond...!
	
	There is no installation, setup is easy, and best of all you don't pay a cent unless you want to publish your site by taking it live. And, with our al a carte style, dynamic, micro, prorated to the minute billing!, you will surely be thrilled with what Agent Rock can provide for you.</p> -->