<!-- <ul id="user_sub_nav">
	<li><%= link_to "Account", edit_user_registration_path %></li>
	<li><%= link_to "Delete/Disable", destroy_user_registration_path %></li>
</ul> -->


<!-- <div id="user_header">

  <a href="/wrinkled03/bio" class="image" id="alonetoner" title="Wrinkled Shirt's profile - all about Wrinkled Shirt"><img alt="Wrinkled Shirt" class="small_avatar" src="http://stash.alonetone.com/pics/42288/beerspill_large.jpg"></a>
  
  <div class="user_title">
    <h1 class="user">Wrinkled Shirt</h1><span class="user_location">from Fort Lauderdale, FL, United States</span>  
  </div>
  <div id="user_links">
    <ul class="user_links">
     <li class=" current">Home</li>
     <li class=" "><a href="/wrinkled03/tracks" title="Wrinkled Shirt's uploaded mp3s on alonetone">Tracks</a></li>
     <li class=" "><a href="/wrinkled03/playlists" title="Wrinkled Shirt's albums and playlists on alonetone">Albums &amp; Playlists</a></li>
     <li class=" "><a href="/wrinkled03/playlists/wrinkled-shirts-favorite-tracks-on-alonetone" title="Wrinkled Shirt's favorite tracks on alonetone">Favorites</a></li>
     <li class=" "><a href="/wrinkled03/bio" title="Wrinkled Shirt's profile on alonetone">Profile</a></li>
  
      
      <li class="contact "><a href="http://myspace.com/551247761">Myspace</a></li>
      
      <li class="contact "><a href="http://twitter.com/Wrinkledshirta">Twitter</a></li>
         
    </ul>
  </div>
</div> -->