<% set_meta_tags :title => "Find local musicians. Jam, Share, Collaborate...", :description => "Agent Rock provides musicians with a social platform for learning and sharing music.", :keywords => "musicians, find musicians, musician services, musician classifieds" %>

<div class="col_12 in">
<div class="col_6 in">
		<h1>Who is Agent Rock?<br /></h1>
		<p class="large">Agent Rock will help you find other musicians, manage your website, sell your music to fans, and learn new tricks on your instrument.</p>

		<hr/>
		<embed data-fb="like" data-href="https://www.facebook.com/pages/Agent-Rock/115055155232575" data-width="195px" data-show_faces="false" />
			<noscript> <iframe src="https://www.facebook.com/pages/Agent-Rock/115055155232575"
			        scrolling="no" frameborder="0" show_faces="false"
			        style="border:none; width:195px; height:80px; position:relative;margin-top:-200px;top:-75px"></iframe> </noscript>			
	</div> 
	<div class="col_6 out">
<h2>What can I do here?</h2>
								<ul class="features">
						      <li>Find local musicians to jam with. Join a band in no time flat.</li>
									<li>Share your musical talent and collaborate with musicians worldwide.</li>
									<li>Challenge each other, compete to win cash and other prizes.</li>
									<li>Participate in Agent Rock's "Rockstar Routine" program.</li>			
									<li>Easily manage your band's website with <a href="http://bandmagnet.com/" target="_blank">Band Magnet</a>!</li>
									<!-- <li>Take a look around. Check out the <a href="/tour">tour</a></li> -->
									<script src="http://connect.soundcloud.com/base.js"></script>
									<script>
									  SC.Connect.options = {
									    'request_token_endpoint': '/user/auth/soundcloud',
									    'access_token_endpoint': '/user/auth/soundcloud/callback',
									    'callback': function(params) {
									      window.location.reload();
									    }
									  };
									</script>
									<p>
									  <a id="sc-connect"
									     href="#" 
									     onclick="SC.Connect.initiate();">
									  </a>
									</p>
								</ul>

								<p class="medium">It's free and sign up is instant.</p>
								<!-- <p class="large">	
										Become more skilled with your instrument.<br>
										Increase your knowledge of the music industry.
									</p> -->

									  <%= link_to "Join Today!", new_user_registration_path, :class => 'red' %>

	</div> 
	<div class="clear">&nbsp;</div>
	
	
	<!-- <div class="col_3 in"><li><%= link_to image_tag('facebook/fb-button.png', :style => 'height:36px;width:36px'), 'https://www.facebook.com/pages/Agent-Rock/115055155232575?sk=wall', :target => '_blank' %></li>

							<li><a href="http://www.twitter.com/agentrock" target="_blank"><img src="http://twitter-badges.s3.amazonaws.com/t_logo-a.png" alt="Follow Agent Rock on Twitter"/></a></li>	
							
	</div> -->
	
</div>