<div class="col_12">

	<div class="col_2">
		<%= render 'shared/left_sidebar' %>
	</div>

<div class="col_9 inline">
	
	<li><%= link_to image_tag('/'), "/your/account/profile" %></li>
	<li><h2><%= current_user.name %></h2></li>
</div>

	<div class="col_5">
		
	</div>
	
</div>		