
	<ul id="top_nav">
		<li><%= login_logout %></li>
		<li><a href="/blog/">Articles</a></li>
		<li><a href="http://twitter.com/agentrock" target="blank">Twitter</a></li>
		<li><a href="/support">Support</a></li>
	</ul>
	<div class="clear">&nbsp;</div>
		<ul id="nav" class="clearfix">
			<li class="col_3" id="logo">
				<a href="/"><img src="/images/logo.png" alt="Agent Rock"><img alt="Beta" class="beta" src="/images/beta.png"></a>
				<!-- <p class="tagline"></p> -->
			</li>
	          
	    </ul>
		<div class="clear">&nbsp;</div>
</div>