
<script type="text/javascript" src="/jquery/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="/jquery/plupload/jquery.plupload.queue.min.js"></script>
<style type="text/css">@import url(stylesheets/plupload.queue.css);</style>

<div id="facebox">
	<form ..>
		<div id="uploader">
			<p>You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.</p>
			<button class="close">Close</button>
		</div>
	</form>
</div>

