<div class="col_4 in">
<h1>Hi, <%= current_user.name %></h1>
<%= edit_account_details(current_user.name) %>
</div>
<div class="col_4 out" style="float:right;"> 
			
			<dl class="facts"> 
			<!-- <dt class="head">Your Songs (<%=  %>) <#%= link_to "Upload Songs", upload_songs_path, :remote => true %></dt>  -->
 
				<dd class="big first">&nbsp;<%  %></dd> 
			

				
				<dd><%=  %></dd>
				<%  %> 
</dl>
</div>



<div id="comments"></div>