<h1><%= title "Browse Musicians" %></h1>

<% @users.each do |user| %>

<p class="inline">
<%= link_to image_tag(user.image.url), user_profile_path(user.name) %>
<%= link_to user.name, user_profile_path(user.name) %>
</p>


<% end %>

<%= paginate(@users) %>